@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap");

body {
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
  padding: 0;
}
::selection {
  background-color: hsl(171, 66%, 44%);
  color: white;
}
.page1 {
  text-align: center;
  background-image: url("images/bg-header-mobile.png");
  background-size: cover;
}
.page1 img {
  margin-top: 40px;
}
.page1 h1 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(210, 10%, 33%);
}
.page1 p {
  margin-left: 20px;
  margin-right: 20px;
  color: slategrey;
  margin-bottom: 40px;
}
.page1 button {
  display: block;
  margin-left: 90px;
  outline: none;
  transition: 0.5s;
}

.button1 {
  margin-bottom: 20px;
  padding: 16px;
  width: 300px;
  border: none;
  border-radius: 60px;
  box-shadow: 4px 4px 10px hsl(171, 66%, 44%);
  font-weight: bolder;
  color: white;
  background: hsl(171, 66%, 44%);
  cursor: pointer;
}
.button1:hover {
  transition: 0.5s;
  border: 2px solid hsl(171, 66%, 44%);
  background-color: white;
  color: hsl(171, 66%, 44%);
}
.button2 {
  margin-bottom: 100px;
  padding: 16px;
  width: 300px;
  border: none;
  box-shadow: 4px 4px 10px hsl(233, 100%, 69%);
  border-radius: 60px;
  font-weight: bolder;
  color: white;
  background: hsl(233, 100%, 69%);
  cursor: pointer;
}
.button2:hover {
  transition: 0.5s;
  border: 2px solid hsl(233, 100%, 69%);
  background-color: white;
  color: hsl(233, 100%, 69%);
}
/*====================================================================================*/
.page2 {
  text-align: center;
}

.page2 h2 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(210, 10%, 33%);
  font-weight: bolder;
}
.page2 p {
  margin-left: 20px;
  margin-right: 20px;
  color: slategrey;
  margin-bottom: 50px;
  line-height: 25px;
}
.page2 img {
  width: 350px;
  margin-bottom: 30px;
}
.containers {
  margin: 0 50px 0 50px;
}
#page2-lastp {
  margin-bottom: 120px;
}
/*==========================================================================================*/
.page3 {
  text-align: center;
}

.page3 h2 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(210, 10%, 33%);
  font-size: 30px;
  font-weight: bolder;
}
#container2-txt {
  margin-bottom: 90px;
}

.page3 p {
  margin-left: 20px;
  margin-right: 20px;
  color: slategrey;
  margin-bottom: 50px;
  line-height: 25px;
}
.page3 img {
  width: 400px;
  margin-bottom: 50px;
}
.container2 img {
  width: 50px;
  margin-top: 40px;
}
.container2 p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.container2 h3 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
}
.container2 h2 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(210, 10%, 33%);
  font-size: 30px;
  font-weight: bolder;
}
.container2 {
  margin-left: 10px;
}
.brands img {
  width: 200px;
  display: block;
  margin-left: 140px;
  margin-bottom: 70px;
}
#last-img {
  margin-bottom: 100px;
}
/*==========================================================================================*/
.page4 {
  text-align: center;
}
.page4 h1 {
  margin-left: 20px;
  margin-right: 20px;
  color: hsl(210, 10%, 33%);
}
.page4 p {
  margin-left: 20px;
  margin-right: 20px;
  color: slategrey;
  margin-bottom: 40px;
}
.page4 button {
  display: block;
  margin-left: 90px;
  outline: none;
}
.last-btn {
  margin-bottom: 20px;
  padding: 16px;
  width: 300px;
  border: none;
  border-radius: 60px;
  box-shadow: 4px 4px 10px hsl(171, 66%, 44%);
  font-weight: bolder;
  color: white;
  background: hsl(171, 66%, 44%);
}
.last-btn2 {
  margin-bottom: 100px;
  padding: 16px;
  width: 300px;
  border: none;
  box-shadow: 4px 4px 10px hsl(233, 100%, 69%);
  border-radius: 60px;
  font-weight: bolder;
  color: white;
  background: hsl(233, 100%, 69%);
}
/*==============================================================================*/
footer {
  text-align: center;
  background-color: hsl(0, 3%, 94%);
}
footer img {
  width: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.social img {
  width: 30px;

  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  .page1 {
    background-image: url("images/bg-header-desktop.png");
    background-size: cover;
  }
  .page1 button {
    display: inline-block;
    margin-left: 10px;
  }
  .page2 {
    margin-bottom: 300px;
  }
  #page2-txt {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 90px;
  }
  .page2 img {
    position: relative;
    width: 700px;
    left: -100px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
  }
  .containers {
    text-align: left;
    margin-left: 40px;
    margin-top: 150px;
  }
  .containers h2 {
    font-size: 30px;
  }
  .page3 h2 {
    font-size: 40px;
  }
  #device-img {
    width: 600px;
  }
  .container2 {
    position: relative;
  }
  .column {
    display: inline-block;
    margin-bottom: 100px;
  }

  .brands {
    display: flex;
    margin-right: 100px;
    margin-bottom: 70px;
  }
  .page4 button {
    display: inline-block;
    margin-left: 10px;
  }
}
